.active
  {
     background-color:yellow;
  }
.complete
  {
  	 background-color:green;
  }
.error
  {
     background-color: red;
  }
table {
border: medium solid #000000;
width:100%;
}
td{
border: thin solid #6495ed;
width: 33%;
height : 100px;
text-align : center;
}